<div class="jumbotron text-center">
    <h4>Keval Kiniyara</h4>
</div>
@*Container*@
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            Itact-Solutions1
        </div>
        <div class="col-sm-4">
            Itact-Solutions2
        </div>
        <div class="col-sm-4">
            Itact-Solutions3
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            Itact-Solutions11
        </div>
        <div class="col-sm-4">
            Itact-Solutions22
        </div>
        <div class="col-sm-4">
            Itact-Solutions33
        </div>
    </div>
</div>
@*Row-Type*@

<div class="row">
    <div class="col-sm-4">Keval-Kiniyara</div>
    <div class="col-sm-8">Keval-Kiniyara</div>
</div>
@*Text-Type*@
<div>
    <small>keval kiniyara</small>
    <h6>Welcome to <mark>ITact-Solutions</mark></h6>
    <h6>welcome to <abbr title="GIDC Degree Engineering College">GDEC</abbr>Navsari.</h6>
    <dl>
        <dt>Animal</dt>
        <dd>-Tiger</dd>
        <dt>Fruit</dt>
        <dd>-Apple</dd>
    </dl>
    <h6>Welcome to <code>Surat</code>,<code>Gujrat</code>,<code>India</code></h6>
    <h6>
        <pre>Text in a pre element
is displayed in a fixed-width
font, and it preserves</pre>
    </h6>
</div>
@*BackGround Color*@
<div>
    Tourism Place
    <div class="bg-primary">Gujarat</div>
    <div class="bg-info">Maharashtra</div>
    <div class="bg-warning">West-Bengal</div>
    <div class="bg-danger">Kashmir</div>
    <div class="bg-success">Keral</div>
</div>
@*Table*@
<div class="jumbotron">
    <div class="table-responsive">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>FirstName</th>
                    <th>Address</th>
                    <th>Mobile</th>
                </tr>
            </thread>
            <tbody>
                <tr class="success">
                    <td>keval</td>
                    <td>Pardi</td>
                    <td>8154078180</td>
                </tr>
                <tr class="danger">
                    <td>hiral</td>
                    <td>Valsad</td>
                    <td>8154548180</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@*Image*@
<div class="row">
    <div class="col-sm-4">
        <img src="~/images/user.png" class="img-circle" />
    </div>
    <div class="col-sm-4">
        <img src="~/images/user.png" class="img-rounded" />
    </div>
    <div class="col-sm-4">
        <img src="~/images/user.png" class="img-responsive" />
    </div>
</div>

@*Resposive Embed*@
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>

@*Jumbotron*@
<div class="container">
    <div class="jumbotron text-center">
        <div class="page-header">ITact-Solutions</div>
        <h6>Keval Kiniyara</h6>
        <h6>Keval Kiniyara</h6>
        <h6>Keval Kiniyara</h6>
    </div>
</div>

@*wells*@
<div class="well">Basic Solutions</div>

@*Alert*@
<div class="container">
    <div class="alert-success">Success</div>
    <div class="alert-info">Info</div>
    <div class="alert-warning">Warning</div>
    <div class="alert-danger">Danger</div>
    <div class="alert-link">Ok</div>
</div>

<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    successful action.
</div>

@*Buttons*@

<button class="btn-primary">Save</button>
<button class="btn-default">Save</button>
<button class="btn-info">Save</button>
<button class="btn-warning">Save</button>
<button class="btn-danger">Save</button>
<button class="btn-success">Save</button>

<button class="btn-success btn-block">Save</button>
<button class="btn-success btn-lg">Save</button>
<button class="btn-success active">Save</button>

@*button-Group*@

<div class="btn-group">
    <button class="btn-primary">Select</button>
    <button class="btn-primary">Keral</button>
    <button class="btn-primary dropdown-toggle" data-toggle="dropdown">Gujarat</button>
    <ul class="dropdown-menu">
        <li>Surat</li>
        <li>Valsad</li>
    </ul>
    <button class="btn-primary">Maharashtra</button>
</div>

@*Glyphicon*@
<div>
    <span class="glyphicon-envelope"></span><br />
    <span class="glyphicon-search"></span>
    <span class="glyphicon-print"></span>

</div>

@*Badges*@

<button class="btn-primary">
    Submit
    <span class="badge">10</span>
</button>

@*Progess-Bar*@
<div class="progress-bar-success progress-bar-striped active" style="width:60%">
    <span>60% complete</span>
</div>

@*Pagination*@
<ul class="pagination">
    <li class="active">1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</ul>

<ul class="breadcrumb">
    <li>ONE</li>
    <li>TWO</li>
    <li>THREE</li>
    <li>FOUR</li>
</ul>

<ul class="pager">
    <li><a>Previous</a></li>
    <li><a>Next</a></li>
</ul>
@*List-Group*@

<ul class="list-group">
    <li class="list-group-item list-group-item-success">One</li>
    <li class="list-group-item">Two</li>
    <li>Three</li>
</ul>

@*Panel*@
<div class="panel">
    <div class="panel-heading">Itact</div>
    <div class="panel-body">Solutions</div>
    <div class="panel-footer">surat</div>
</div>

@*DropDown*@
<div class="dropdown">
    <button class="btn-primary dropdown-toggle" data-toggle="dropdown"> Language</button>
    <ul class="dropdown-menu">
        <li>C#</li>
        <li>C++</li>
        <li>Java</li>
        <li class="divider"></li>
        <li>Angular</li>
        <li>JavaScript</li>

    </ul>
</div>

@*collapsible*@
<button data-toggle="collapse" data-target="#demo">Save</button>
<div id="demo" class="collapse">
    Agjdfklgjdbjdbdfkgdjbklj
</div>

@*Menus*@
<ul class=" nav nav-tabs">
    <li> <a data-toggle="tab" data-target="#demo1">1</a></li>
    <li>2</li>
    <li>3</li>
</ul>
<div class="tab-content">
    <div id="demo1">
        Welcome To Itact-solutions
    </div>
</div>


<ul class="nav nav-pills">
    <li><a data-toggle="pill" href="#demo1">1</a></li>
    <li>2</li>
    <li>3</li>
</ul>

<div class="tab-content">
    <div id="demo1">
        <h6>Hello World</h6>
    </div>
</div>


@*Form*@
<form>
    <div class="form-group">
        <label >Name</label>
        <input type="text"  />
    </div>
    <div class="form-control">
        <label >Password:</label>
        <input type="text" >
    </div>
</form>


@*Media*@

<div class="media">
    <div class="media-left">
        <img src="img_avatar1.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
        <h4 class="media-heading"></h4>
        <h6>Datafnfsgnsd;gnk</h6>
    </div>
</div>


@*Modal*@

<button data-toggle="modal" data-target="#demo">Show</button>
<div  class="modal fade" id="demo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Modal-Header
            </div>
            <div class="modal-body">
                Modal-Body
            </div>
            <div class="modal-footer">
                Modal-footer
                <button data-dismiss="modal">close</button>
            </div>
        </div>

    </div>
</div>


@*Grid*@


<div class="row" >
    <div class="col-sm-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit11
    </div>
    <div class="col-sm-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit22
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit33
    </div>
    <div class="col-sm-6 col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit44
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit55
    </div>
    <div class="col-sm-6 col-md-6 col-lg-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit66
    </div>
</div>


@*modal Using javascript*@

<button type="button" id="btnSave">Show</button>
<div class="modal fade" id="modal">
    <div class="modal-content">
        <div class="modal-body">
            <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
